html
{
    margin: 0;
}
body
{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.topbar
{
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: #333;
}
.guziki
{
    margin-top: 24px;
}
.topbar a 
{
    width: 190px;
    color: #f2f2f2;
    padding: 24px;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
}
.topbar a:hover 
{
    background-color: white;
    color: black;
    border-bottom: 4px solid limegreen;
}
.topbar .login:hover 
{
    background-color: #a8d484;
    color: black;

}
.logo
{
    padding: 15px;
    width: 165px;
    height: 50px;
}
/*sekcje*/
section
{
    height: 100vh;
}
.pierwszy
{
    height: 90vh;
    background-image: url(tlo.png);
    background-color: palegoldenrod;
    background-size: cover;
    border-bottom: 5px solid darkseagreen;
}

.druga
{
    margin: 0;
    height: 15vh;
}
.pytanie
{
    margin: 0;
    padding-top: 20px;
    align-content: center;
    text-align: center;
    text-decoration: none;
}
.pytanie h1
{
    margin: 0;
    font-size: 40px;
}
.pytanie p
{
    font-size: 20px;
}
.trzeci
{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    height: 40vh;
    text-align: center;
}
.trzeci h1
{
    font-size: 30px;
}
.trzeci p
{
    font-size: 20px;
}
.panel1
{
    width: 300px;
    margin-right:5vw;
}
.panel2
{
    width: 300px;
    margin-left:5vw;
}
.czwarto
{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    align-content: center;
    height: 25vh;
    border-top: 5px solid wheat;
    background-color: antiquewhite;
}
.bottombar h1
{
    font-size: 40px;
    padding: 5px;
}
.bottombar a
{
    background-color: #333;
    width: 190px;
    color: #f2f2f2;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
}
.bottombar a:hover 
{
    background-color: #a8d484;
    color: black;
    border: 3px solid limegreen;
}
.bottombar p
{
    padding-top: 20px;
    z-index: 1;
}
.reklama
{
    margin-left: 10%;
    margin-right: 10%;
    float: left;
    display: flex !!important;
    justify-content:space-around;
    padding-top: 75px;
    align-content: center;
    text-align: center;
    text-decoration: none;
}
.reklama h1
{
    font-size: 6vh;
    color:black;
    text-shadow: -2px 0 white, 0 2px white,
    2px 0 white, 0 -2px white;
}
